<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Step-1</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/external.css">
    <link rel="stylesheet" href="../static/examine.css">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/icons/favicon-16x16.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script>
      var currentSymptom = 1 
      var yesCount = 0 
        function submitResponse() {

          
            var form = document.getElementById('response-form');
            var formData = new FormData(form);//store keyvalue pairs-----can send as body or url 
            formData.append('current_symptom', currentSymptom)
            const data = {};
	            for (let keyValue of formData.values()) {
                if (keyValue == 'yes'){
                  yesCount += 1
                }
              }
            formData.append('yes_count',yesCount)
            var params = new URLSearchParams(formData).toString();
            
            fetch('/update?' + params, {
                method: 'GET'
            })
            .then(response => response.json())//promises-------runs only when uit recieves data (promise resolve)-------.catch(promise reject)
            .then(data => {
                if (data.result) {
                    document.getElementById('chat-box').innerHTML = "<h5><strong>" + data.result + "</strong></h5>" + "<button class='button button3' onclick=\"window.location.href='/external'\">" +"<span>Step 2</span></button>";
                } else {
                    document.getElementById('question').innerText = data.question;
                    currentSymptom = data.current_symptom
                    
                }
            });
            form.reset()
            
            return false; // Prevent the form from submitting the traditional way
        }
    </script>
</head>
<body>
  <header class="head ">
    <div class="background">
      <nav class="navbar h-nav-resp">
        <div class="logo logo-click"><a href="/"> <img src="../static/IMG/text3.png" alt="logo"></a></div>
        <ul class="nav-list v-class-resp">
          
          <li> <a href="/">Home</a></li>
          <li><a href="/checkup">CheckUp</a></li>
          <!-- <li><a href="#aboutus">AboutUs</a></li> -->
        </ul>
        
        <div class="burger">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
      </nav>
      
      
          
       
    </div>
  </head>
  <main>
    <div class="container">
      <section class = "upload-section">
      <h1>Step-1</h1>
        <div class = "instructions">
      <h2>Perform a Preliminary Breast Health Check Here</h2>
      <p>Guidlines</p>
      <ul class="info"><li>If you're experiencing similar symptoms, select 'Yes'</li>
            <li>If you're not experiencing similar symptoms, select 'No'</li>
            <li>After selecting 'Yes' or 'No,' click 'Submit' to confirm your response.</li></ul>
      <p class="step3">Completed Step 1 & Step 2 and wanna proceed to submit your sonograms?  <br> click below</p>
      <button class="button button2"onclick="window.location.href= '/step3'"><span>Step 3</span></button>
       </div>
    
  
    <div id="chat-box">
        
        
        <form id="response-form" onsubmit="return submitResponse()" class="upload-form">
          <div class="input">
          <p id="question"> {{question}}</p>
          <input type="radio" id="yes" name="response" value="yes">
          <label for="yes">Yes</label>
          
          <input type="radio" id="no" name="response" value="no">
          <label id="no-btn" for="no">No</label>

        </div>
        <div class="button-sub">
          <button type="submit" >Submit</button>
        </div>
        </form>
        </section>
    </div>
    <h5></h5>
  </section>
</div>
  </main>
  </header>
  <footer> 
    <div class="footer-box footer-box-resp">
      <div class="footer-c">
        <h3>CELLS CHECKUP</h3>
        <p>Our strength lies not only in the words we stand by, but most importantly in 
          the actions of our initiatives.</p>
      </div>
      <div class="footer-c">
        <h4>Contact Info</h4>
        <p>Email-Id : cellcheckup123@gmail.com</p>
        <p>Phone Number : +91 00001 28999</p>
      </div>
      <div class="footer-c">
        <h4>Follow Us</h4>
        <a href="https://www.twitter.com/"><i class="fa-brands fa-x-twitter" style="color:white"></i>
          </a>
          <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram" style="color:white"></i></a>
          
          <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook" style="color:white"></i></i></a>
          
      </div>
      <div class="fourth-c"></div>
    </div>
</footer>
<script src="../static/JS/response.js"></script>
</body>
</html>
