@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");



.step3{
  font-size: 20px;
  color:  #2c3e50;;
  font-weight: bold;
}


form {
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  font-size: 20px;

}
#chat-box{
  margin-top: 40px;
  border: 2px solid #050b11;
  border-radius: 14px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#question{
  padding: 12px;
  font-size: 25px;
  
  
}

form label{
  display: inline-block;
    padding: 8px 20px;
    border: 2px solid #072444;
    border-radius: 10px;
    background-color: #ffffff;
    color: #072444;
    font-size: 20px;
    font-weight: bold;
    margin-top: 50px;
    cursor: pointer;
    width: 100px;
    margin-left: 15px;
    margin-bottom: 15px;
    transition: background-color 0.3s, color 0.3s;
    
}

.input{
  width: 100%;
  margin: 0 auto;
  
}


.input input[type="radio"] {
  display: none;
}

.input input[type="radio"]:checked + label {
  background-color: #072444;
  color: #ffffff;
  
}
.input label:hover {
  background-color: #1c3969;
  color: #ffffff;
}
.button-sub{
  padding: 10px;
}
.button-sub button {
  padding: 10px 30px;
  font-size: 20px;
  font-weight: bold;
  background: linear-gradient(45deg, #27ae60, #45e186);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s, background 0.3s;
  /* margin-top: 5px; */
  width: 100%;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

button:hover {
  transform: scale(1.001);
  background: linear-gradient(45deg,  #45e186, #27ae60);
}

.button2{
  border: none;
  color: #ffffff;
  background: linear-gradient(45deg, #27ae60, #45e186);
  margin-top: 20px;
}
.button3{
  margin:20px
}
.button3:hover{
  background: none;
}
strong {
  font-size: 20px;
  color: #182838;
  font-weight: bold;
  padding: 20px 0px 0px 20px;
  background: linear-gradient(45deg, #1a2b3b, #18116cd9);
  background-clip: text;
  color: transparent;
}

