<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/external.css">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/icons/favicon-16x16.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <title>Step-3</title>
</head>
<body>
  
  <header class="head ">
    <div class="background">
      
        <nav class="navbar h-nav-resp">
          <div class="logo logo-click"><a href="/"><img src="../static/IMG/text3.png" alt="logo"></a></div>
          <ul class="nav-list v-class-resp">
            
            <li> <a href="/">Home</a></li>
            <li><a href="/checkup">CheckUp</a></li>
            <!-- <li><a href="#aboutus">AboutUs</a></li> -->
          </ul>
          
          <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
          </div>
        </nav>
        
        
      </div>
  </head>

  
<main>
  <div class="container">
    <section class="upload-section">
      <h1>Step 3</h1>
      <div class="instructions">
        <h2>Breast's sonogram Examination</h2>
        <p>
           Follow these guidelines:
        </p>
        <ul class="info">
          <li>Make sure to send directly the digital sonography images of breast.</li>
          
        </ul>
      </div>
      <form id="form_up" class="upload-form">
        <div class="file-input" onclick="document.getElementById('img_').click()">
            <p id="file-label">Click to select an image or drag and drop here</p>
            <input id="img_" type="file" name="image" accept="image/*" required style="display: none" onchange="displayFileName()">
        </div>
        <button type="submit" class="submit-btn">Upload</button>
    </form>
      <div id="response"></div> 
</main>

    
<footer> 
  <div class="footer-box footer-box-resp">
    <div class="footer-c">
      <h3>CELLS CHECKUP</h3>
      <p>Our strength lies not only in the words we stand by, but most importantly in 
        the actions of our initiatives.</p>
    </div>
    <div class="footer-c">
      <h4>Contact Info</h4>
      <p>Email-Id : cellcheckup123@gmail.com</p>
      <p>Phone Number : +91 00001 28999</p>
    </div>
    <div class="footer-c">
      <h4>Follow Us</h4>
      <a href="https://www.twitter.com/"><i class="fa-brands fa-x-twitter" style="color:white"></i>
        </a>
        <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram" style="color:white"></i></a>
        
        <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook" style="color:white"></i></i></a>
        
    </div>
    <div class="fourth-c"></div>
  </div>
</footer>
    <script>
      document.getElementById('form_up').addEventListener('submit', function(event){
        event.preventDefault();
        const formData = new FormData();
        const imageFile = document.getElementById('img_').files[0];
        if (imageFile){
          formData.append('image', imageFile);
          fetch('/upload2', {
            method: 'POST',
            body: formData
          })
          .then(response => response.json())
          .then(data => {
            document.getElementById('response').innerHTML = ` <h3> Prediction Result:</h3> 
            <p>${data.prediction === 'benign'? 'Tumor is benign': 
               data.prediction === 'malignant'?'Tumor is malignant': data.prediction==='normal'?'Through reports it looks normal , it may be due to any skin infection, you can visit a oncologist or a gynaecologist if you are feeling any discomfort': ' '}`;
          })
          .catch(error => {
            console.error('Error: ', error);
            document.getElementById('response').innerHTML = "<p>There was an error processing your request.</p>";
          });
        }else{
          alert('Please select an image file to upload. ');
        }
      });
    </script>
    <script>
    function displayFileName() {
      var fileInput = document.getElementById('img_');
      var fileLabel = document.getElementById('file-label');
      
      if (fileInput.files.length > 0) {
          fileLabel.textContent = fileInput.files[0].name;
      } else {
          fileLabel.textContent = "Click to select an image or drag and drop here";
      }
  }</script>
    <script src="../static/JS/response.js"></script>
</body>
</html>